*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ecf0fe;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrap {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 5rem; */
}

li {
    list-style: none;
}

.form,
.grettings {
    display: none;
}

.showing {
    display: block;
}

.btn {
    cursor: pointer;
}


.clock_container h1 {
    font-size: 4rem;
    /* color: #fff; */
    margin-bottom: 3rem;    
}



